.plans-container {
    display: flex;
    gap: 50px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100% - 120px);
    margin-left: auto;
    margin-right: auto;
}

.plan-card {
    background: radial-gradient(circle, #ffffff, #c8c5c5);
    color: black;
    border-radius: 30px;
    padding: 30px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 320px;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.plan-card p {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
}

.beginner-span {
    font-style: italic;
    color: #8f3892;
}

.beginner-header {
    font-size: 24px;
    font-weight: bold;
    color: #fd288d;
    margin-bottom: 30px;
}

.label-beginner {
    font-weight: bold;
    color: #fd288d;
    margin-top: 10px;
}

.price-beginner {
    font-weight: bold;
    margin-top: 15px;
    color: #fd288d;
}

/**/

.intermediate-span {
    font-style: italic;
    color: #6f2a72;
}

.intermediate-header {
    font-size: 24px;
    font-weight: bold;
    color: #cc1b6e;
    margin-bottom: 30px;
}

.label-intermediate {
    font-weight: bold;
    color: #cc1b6e;
    margin-top: 10px;
}

.price-intermediate {
    font-weight: bold;
    margin-top: 15px;
    color: #cc1b6e;
    text-transform: uppercase;
}

/**/

.advanced-span {
    font-style: italic;
    color: #571f59;
}

.advanced-header {
    font-size: 24px;
    font-weight: bold;
    color: #981452;
    margin-bottom: 30px;
}

.label-advanced {
    font-weight: bold;
    color: #981452;
    margin-top: 10px;
}

.price-advanced {
    font-weight: bold;
    margin-top: 15px;
    color: #981452;
    text-transform: uppercase;
}


a.start-btn {
    background: radial-gradient(
            circle, #fd288d, #d250d6
    );
    color: white;
}

a.start-btn:hover {
    background: radial-gradient(
            circle, #fd288d, #a825ab
    );
}

a.unlock-btn {
    background: radial-gradient(
            circle, #a8a8a8, #624e4e
    );
    color: white;
}

a.unlock-btn:hover {
    background: radial-gradient(
            circle, #fd288d, #a825ab
    );
}


a.start-btn,
a.unlock-btn {
    width: 100%;
    margin-top: 120px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
}