<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="/css/calculator.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    <th:block th:insert="fragments/sidebar :: sidebar"></th:block>
          
    <div class="calculator-container">

        <div class="main-content">

            <div class="calculator-header">Calculate Your Intake!</div>

            <form th:action="@{/calculator}" th:method="POST" th:object="${calculateRequest}">
                <div class="form-grid">
                    <div class="form-group">
                        <label>Gender</label>
                        <select th:field="*{gender}">
                            <option th:each="gender : ${T(app.fittapp.user.model.UserGender).values()}" th:value="${gender}" th:text="${#strings.capitalize(#strings.toLowerCase(gender))}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Height (cm)</label>
                        <input type="text" placeholder="Enter your height" step="0.1" th:field="*{height}" required>
                    </div>

                    <div class="form-group">
                        <label>Age</label>
                        <input type="text" placeholder="Enter your age" th:field="*{age}">
                    </div>

                    <div class="form-group">
                        <label>Weight (kg)</label>
                        <input type="text" placeholder="Enter your weight" step="0.1" th:field="*{weight}" required>
                    </div>

                    <div class="form-group">
                        <label>Activity Level</label>

                        <select th:field="*{activityLevel}">
                            <option th:each="level : ${T(app.fittapp.user.model.UserActivityLevel).values()}"
                                    th:value="${level}"
                                    th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(level, '_', ' ')))}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Goal</label>
                        <select th:field="*{goal}">
                            <option th:each="goal : ${T(app.fittapp.user.model.UserGoal).values()}"
                                    th:value="${goal}"
                                    th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(goal, '_', ' ')))}">
                            </option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="submit-btn">GO</button>
            </form>
    
            <div class="result">
                Target intake per day: <b th:text="${#numbers.formatDecimal(user.dailyIntake, 1, 0) + ' kcal'}"></b>
            </div>

        </div>

    </div>

</body>
</html>