<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    <th:block th:insert="fragments/sidebar :: sidebar"></th:block>
    
    <div class="dashboard-container">

        <div class="welcome-profile-card">
            <div class="welcome-card">
                <h2>Hello, Gergana!</h2>
                <p>Eat well, stay hydrated, and keep moving to stay strong and healthy :)</p>
            </div>
        
            <div class="profile-card">
                <div class="profile-photo">
                    <img src='https://i0.wp.com/static.vecteezy.com/system/resources/previews/036/280/650/original/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-illustration-vector.jpg?ssl=1' alt="Profile Picture" class="profile-img">
                </div>
                <div class="profile-info">
                    <p><strong>Username:</strong> <br>gergana_11</p>
                    <p><strong>Name:</strong>  <br>Gergana Brezova</p>
                    <p><strong>Email:</strong>  <br>gerganabrezova11@gmail.com</p>
                    <a href="#" class="edit-profile">Edit Profile</a>
                </div>
            </div>
        </div>

        <div class="stats">
            <div class="stat-card"><i class="fa-solid fa-star"></i><p>Points</p><h3>130</h3></div>
            <div class="stat-card"><i class="fa-solid fa-dumbbell"></i><p>Completed Workouts</p><h3>3</h3></div>
            <div class="stat-card"><i class="fa-solid fa-apple-whole"></i><p>Calories Intake</p><h3>2100</h3></div>
        </div>

    </div>
</body>
</html>