<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="/css/inbox.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<body>

    <th:block th:insert="fragments/sidebar :: sidebar"></th:block>

    <div class="inbox-container">
        <div class="messages-header">Messages</div>
        
        <ul class="messages-list">
            <li class="message">
                <strong>Hello, Gergana!</strong>
                Thank you for joining our team!
                You have received 100 points for signing up! Earn more by completing workouts.
                <div class="timestamp">20/02/2025 17:35</div>
            </li>
            <li class="message">
                <strong>Well done, Gergana!</strong>
                You have just received 5 points for completing a workout!
                <div class="timestamp">03/03/2025 07:35</div>
            </li>
        </ul>
    </div>
    
    
</body>
</html>