<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="/css/inbox.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<body>

    <th:block th:insert="fragments/sidebar :: sidebar"></th:block>

    <div class="inbox-container">
        <div class="messages-header">Messages</div>
        
        <ul class="messages-list">
            <li class="message" th:each="message : ${messages}">
                <strong th:text="${message.header}"></strong>
                <p th:text="${message.content}"></p>
                <div class="timestamp" th:text="${#temporals.format(message.sentOn, 'dd/MMM/yyyy HH:mm')}"></div>
            </li>
        </ul>

    </div>
</body>
</html>