<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/reglog.css">
</head>
<body>
    
    <form action="" method="">
            <div class="section-register">
                <div class="container">
                    <h1><span>Login</span></h1>
                    <div class="form-group">
                        <div>
                            <label for="username">Username</label>
                        </div>
                    
                        <input type="text" id="username" name="username"/>
                        <small>Error</small>
                    </div>
                
                    <div class="form-group">
                        <div>
                            <label for="password">Password</label>
                        </div>
                        <input type="password" class="form-control" id="password" name="password"/>
                        <small>Error</small>
                    </div>
                
                    <div>
                        <button type="submit" value="Login">Login</button>
                    </div>

                    <div class="login-link">
                        Don't have an account? <a href="">Register</a>
                    </div>
                </div>
             </div>
    </form>
</body>
</html>