<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Users</title>
</head>
<body>

    <th:block th:insert="fragments/sidebar :: sidebar"></th:block>
    
    <div class="main-content">
        
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search users..." class="search-input">
        </div>

        <ul class="user-list">

            <li class="user-item">
                <div class="user-card">
                    <div class="user-all-info">
                        <div class="profile-photo">
                            <img src="https://i0.wp.com/static.vecteezy.com/system/resources/previews/036/280/650/original/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-illustration-vector.jpg?ssl=1" 
                                 alt="Profile Picture" class="profile-img">
                        </div>
                        <div class="user-info">
                            <h3>gergana_11</h3>
                            <p><span class="p-span">Email:</span> gerganabrezoval1@gmail.com</p>
                            <p><span class="p-span">Joined:</span> 10/03/2025</p>
                            <div class="admin-toggle">

                                <form action="" method="PUT"> 
                                    <label class="switch">
                                        <input type="checkbox" field=""/> 
                                        <span class="slider"></span>
                                    </label>
                                </form>

                                <p class="admin-label">Admin</p> 
                                
                            </div>
                        </div>
                    </div>
                </div>
                <form action="" method="">
                    <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
                </form>
            </li>

            <li class="user-item">
                <div class="user-card">
                    <div class="user-all-info">
                        <div class="profile-photo">
                            <img src="https://i0.wp.com/static.vecteezy.com/system/resources/previews/036/280/650/original/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-illustration-vector.jpg?ssl=1" 
                                 alt="Profile Picture" class="profile-img">
                        </div>
                        <div class="user-info">
                            <h3>gergana_11</h3>
                            <p><span class="p-span">Email:</span> gerganabrezoval1@gmail.com</p>
                            <p><span class="p-span">Joined:</span> 10/03/2025</p>
                            <div class="admin-toggle">

                                <form action="" method="PUT"> 
                                    <label class="switch">
                                        <input type="checkbox" field=""/> 
                                        <span class="slider"></span>
                                    </label>
                                </form>
                                
                                <p class="admin-label">Admin</p> 
                                
                            </div>
                        </div>
                    </div>
                </div>
                <form action="" method="">
                    <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
                </form>
            </li>

        </ul>

    </div> 

</body>
</html>